<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.SysDoctorMapper">
    
    <resultMap type="SysDoctor" id="SysDoctorResult">
        <result property="userId"    column="user_id"    />
        <result property="doctorName"    column="doctor_name"    />
        <result property="doctorAge"    column="doctor_age"    />
        <result property="sex"    column="sex"    />
        <result property="certId"    column="cert_id"    />
        <result property="department"    column="department"    />
        <result property="address"    column="address"    />
        <result property="text"    column="text"    />
        <result property="expert"    column="expert"    />
        <result property="register"    column="register"    />
    </resultMap>

    <sql id="selectSysDoctorVo">
        select user_id, doctor_name, doctor_age, sex, cert_id, department, address, text, expert, register from sys_doctor
    </sql>

    <select id="selectSysDoctorList" parameterType="SysDoctor" resultMap="SysDoctorResult">
        <include refid="selectSysDoctorVo"/>
        <where>  
            <if test="doctorName != null  and doctorName != ''"> and doctor_name like concat('%', #{doctorName}, '%')</if>
            <if test="doctorAge != null "> and doctor_age = #{doctorAge}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="certId != null  and certId != ''"> and cert_id = #{certId}</if>
            <if test="department != null  and department != ''"> and department = #{department}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="text != null  and text != ''"> and text = #{text}</if>
            <if test="expert != null "> and expert = #{expert}</if>
            <if test="register != null "> and register = #{register}</if>
        </where>
    </select>
    
    <select id="selectSysDoctorById" parameterType="Long" resultMap="SysDoctorResult">
        <include refid="selectSysDoctorVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertSysDoctor" parameterType="SysDoctor" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_doctor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doctorName != null  and doctorName != ''">doctor_name,</if>
            <if test="doctorAge != null ">doctor_age,</if>
            <if test="sex != null ">sex,</if>
            <if test="certId != null  and certId != ''">cert_id,</if>
            <if test="department != null  and department != ''">department,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="text != null  and text != ''">text,</if>
            <if test="expert != null ">expert,</if>
            <if test="register != null ">register,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doctorName != null  and doctorName != ''">#{doctorName},</if>
            <if test="doctorAge != null ">#{doctorAge},</if>
            <if test="sex != null ">#{sex},</if>
            <if test="certId != null  and certId != ''">#{certId},</if>
            <if test="department != null  and department != ''">#{department},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="text != null  and text != ''">#{text},</if>
            <if test="expert != null ">#{expert},</if>
            <if test="register != null ">#{register},</if>
         </trim>
    </insert>

    <update id="updateSysDoctor" parameterType="SysDoctor">
        update sys_doctor
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorName != null  and doctorName != ''">doctor_name = #{doctorName},</if>
            <if test="doctorAge != null ">doctor_age = #{doctorAge},</if>
            <if test="sex != null ">sex = #{sex},</if>
            <if test="certId != null  and certId != ''">cert_id = #{certId},</if>
            <if test="department != null  and department != ''">department = #{department},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="text != null  and text != ''">text = #{text},</if>
            <if test="expert != null ">expert = #{expert},</if>
            <if test="register != null ">register = #{register},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteSysDoctorById" parameterType="Long">
        delete from sys_doctor where user_id = #{userId}
    </delete>

    <delete id="deleteSysDoctorByIds" parameterType="String">
        delete from sys_doctor where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
</mapper>